In [384]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
from itertools import combinations

In [385]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1705,tt0472062,75000000,119000410,Charlie Wilson's War,Tom Hanks|Philip Seymour Hoffman|Julia Roberts...,Mike Nichols,Based on a true story. You think we could make...,The true story of Texas congressman Charlie Wi...,102,Comedy|Drama|History,Universal Pictures|Participant Productions|Pla...,12/19/2007,6.3,2007
240,tt0361748,70000000,319131050,Inglourious Basterds,Brad Pitt|MÃ©lanie Laurent|Christoph Waltz|Eli...,Quentin Tarantino,Once upon a time in Nazi occupied France...,"In Nazi-occupied France during World War II, a...",153,Drama|Action|Thriller|War,Universal Pictures|A Band Apart|Zehnte Babelsb...,8/18/2009,7.7,2009
1447,tt0206634,76000000,69959751,Children of Men,Clive Owen|Michael Caine|Julianne Moore|Charli...,Alfonso CuarÃ³n,The future's a thing of the past.,"In 2027, in a chaotic world in which humans ca...",109,Drama|Action|Thriller|Science Fiction,Universal Pictures|Strike Entertainment|Hit & ...,9/22/2006,7.3,2006
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013
1162,tt0251736,7000000,16829545,House of 1000 Corpses,Sid Haig|Bill Moseley|Sheri Moon Zombie|Karen ...,Rob Zombie,You'll never get out alive.,Two teenage couples traveling across the backw...,89,Horror,Universal Pictures|Spectacle Entertainment Group,4/11/2003,5.8,2003

In [386]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [387]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [389]:
answers = {} # создадим словарь для ответов

#Change time to datetime format
data.release_date = pd.to_datetime(data.release_date)
directors = list(set(data.director.apply(lambda x: x.split(sep = '|')).sum()))
actors = list(set(data.cast.apply(lambda x: x.split(sep = '|')).sum()))
production_companies = set(data.production_companies.apply(lambda x: x.split(sep = '|')).sum())
#add column genres_list for splitted genres
data['genres_list'] = data.genres.apply(lambda x: x.split(sep = '|'))
#add column profit
data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis = 1) 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  genres_list           1889 non-null   object
 15  profit                1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(9)
memory usage: 236.2+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [395]:
answers['1'] = (data.query('budget == budget.max()')['original_title'].iloc[0])
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

In [396]:
answers['1'] = (data[data['budget'] == data['budget'].max()]['original_title'].values[0])
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [398]:
answers['2'] = data[data.runtime == data.runtime.max()]['original_title'].values[0]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [399]:
answers['3'] = data[data.runtime == data.runtime.min()]['original_title'].values[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [400]:
answers['4'] = data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [401]:
answers['5'] = data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [402]:
answers['6'] = data[data.profit == data.profit.max()]['original_title'].iloc[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [403]:
answer = data[data.profit == data.profit.min()]
answers['7'] = data.query('profit == profit.min()')['original_title'].iloc[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [404]:
answers['8'] = data.query('revenue > budget').shape[0]
answers['8']

1478

In [405]:
answers['8'] = data.query('profit > 0')['imdb_id'].count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [406]:
answers['9'] = data.query('release_year == 2008').sort_values(by='revenue', ascending=False).head(1)['original_title'].iloc[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [407]:
answers['10'] = data.query(' 2012 <= release_year <= 2014 & profit == profit.min()')['original_title'].iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [408]:
answers['11'] = pd.Series(data.genres_list.sum()).value_counts().index[0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [409]:
answers['12'] =  pd.Series(data[data.profit > 0].genres_list.sum()).value_counts().index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [410]:
answers['13'] = (data.groupby('director').sum()['revenue'].idxmax())
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [411]:
director_ = ('',-1)
for director in directors:
    count = data[data['director'].str.contains(director) & data.genres.str.contains("Action")]['imdb_id'].nunique()
    director_ = (director, count) if count > director_[1] else director_
answers['14'] = director_[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [412]:
actor_ = ('', -1)
for actor in actors:
    summary = data[data.cast.str.contains(actor) & (data.release_year == 2012)]['revenue'].sum()
    actor_ = (actor, summary) if summary>actor_[1] else actor_
answers['15'] = actor_[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [413]:
count = Counter()
for index, row in data[data.budget > data.budget.mean()].iterrows():
    names = row.cast.split(sep='|')
    for actor in names:
        count[actor] +=1
actor_data = pd.DataFrame(count, index = ['count_films']).T
answers['16'] = actor_data[actor_data.count_films == actor_data.count_films.max()].index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [414]:
answers['17'] =  pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres_list.sum()).value_counts().index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [415]:
data_p = data[data['production_companies'].str.contains("Paramount Pictures")]
answers['18'] = data_p[data_p.profit == data_p.profit.min()]['original_title'].iloc[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [416]:
answers['19'] = data[['release_year', 'profit']].groupby(['release_year']).sum().idxmax()[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [417]:
answers['20'] = data[data.production_companies.str.contains('Warner Bros')][['release_year', 'profit']].groupby(['release_year']).sum().idxmax()[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [418]:
answers['21'] = data.release_date.dt.month.value_counts().index[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [419]:
answers['22'] = len(data.release_date[(data.release_date.dt.month == 6) | (data.release_date.dt.month == 7) | (data.release_date.dt.month == 8)])

answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [420]:
answers['23'] = (data[(data.release_date.dt.month == 1) | (data.release_date.dt.month == 2) | (data.release_date.dt.month == 12)]
                 [['director', 'imdb_id']].groupby('director')['imdb_id'].count().idxmax())
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [422]:
prod = ('', -1)
for studio in production_companies:
    current_studio = data[data.production_companies.str.contains(studio)]
    count = current_studio.original_title.str.len().mean()
    prod = (studio, count) if count > prod[1] else prod
answers['24'] = prod[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [423]:
prod = ('', -1)
for studio in studios:
    current_studio = data[data.production_companies.str.contains(studio)]
    count = current_studio.overview.str.split().apply(len).mean()
    prod = (studio, count) if count > prod[1] else prod
answers['25'] = prod[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [424]:
data.query('vote_average > vote_average.quantile(0.99)')[['imdb_id', 'original_title', 'vote_average']]

        imdb_id                                 original_title  vote_average
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
118   tt0816692                                   Interstellar           8.0
119   tt2015381                        Guardians of the Galaxy           7.9
125   tt2084970                             The Imitation Game           8.0
128   tt2267998                                      Gone Girl           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
370   tt1375666                                      Inception           7.9
599   tt0468569                                The Dark Knight           8.1
872   tt0253474                                    The Pianist           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1183  tt0993846                        The Wolf of Wall Street           7.9
1191  tt2024544                               12 Years a Slave           7.9
1800  tt0209144                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [425]:
actors_ = data.cast.apply(lambda x: x.split(sep='|')).apply(lambda x: list(combinations(x, 2)))
actors_duet = Counter([' & '.join(sorted(list(x))) for x in actors_.sum()])
answers['27'] = actors_duet.most_common(1)[0][0]
answers['27']

'Daniel Radcliffe & Rupert Grint'

# Submission

In [426]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [427]:
# и убедиться что ни чего не пропустил)
len(answers)

26